#action-menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 10px;
    padding: 10px;
}